$primary-color: #2E5900;
$font-titles : 'Merriweather', serif;
$font-paragraph : 'Merriweather Sans', serif;

@mixin Mflex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }